<div class="container">
  <div class="row justify-content-center">
    <div id="profileCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active carouselPic">
          <img src="/images/photo of CJ.jpeg" class="d-block w-100" alt="CJ">
        </div>
        <div class="carousel-item carouselPic">
          <img src="/images/feedingBears.jpg" class="d-block w-100" alt="bears">
        </div>
        <div class="carousel-item carouselPic">
          <img src="/images/skippingRocks.jpg" class="d-block w-100" alt="rocks">
        </div>
        <div class="carousel-item carouselPic">
          <img src="/images/sunsetThailand.jpg" class="d-block w-100" alt="thailand">
        </div>
      </div>
      <a class="carousel-control-prev" href="#profileCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#profileCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="row justify-content-center">
      <div id="aboutMe" class="container">
        <div id="aboutHead" class="row justify-content-center">
          About Me
        </div>
        <div id ="aboutBody" class="row">
          <p> My Name is CJ. I am a new web developer, and I couldn't be more excited about it. 
            I am a passionate person, I always carry a good attitude with me, and pack a solid work ethic everywhere life takes me.
            I've worn many hats in my life. From Massage Therapist, to Crossfit Coach, to World Famous Fishmonger. 
            I am looking for a career with more longevity and intellectual challenge. I've always loved to solve problems and streamline processes.
            Web development is the perfect opportunity to ride the wave of change to the future, and keep myself, and my mind challenged.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>