<div class="container">
    <div class="row justify-content-center">
        <div id="projectCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://bsmalls6.github.io/Project_1/">
                    <img src="/images/BlackJack.png" class="d-block w-100 img" alt="blackjack">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>BlackJack</h5>
                        <p>Single player Blackjack (not working)</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="https://ceejtheday.github.io/weatherForecast/">
                    <img src="/images/WeatherPic.png" class="d-block w-100 img" alt="weather">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Weather Dashboard</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="https://ceejtheday.github.io/dayCalendar/">
                    <img src="/images/WorkDay.png" class="d-block w-100 img" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Work Day Scheduler</h5>
                        <p>A simple app to keep track of your daily work</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="https://sqwashllc.herokuapp.com/">
                    <img src="/images/sqwash.png" class="d-block w-100 img" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Sqwash</h5>
                        <p>A community for developing developers.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="">
                    <img src="/images/notetaker.png" class="d-block w-100 img" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Note Taker</h5>
                        <p>Simple app for personal note storage</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="">
                    <img src="/images/burger.jpg" class="d-block w-100 img" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Eat Dat Burger!</h5>
                        <p>An express handlebars menu application</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#projectCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#projectCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>