










body {
    height:100%;
    background-color: lightgrey;
    margin-bottom: 70px;
}

.header {
    height: 70px;
    margin-bottom: 40px;
    background-color: white; 
}

.myName { 
    height: 70px;
    background-color: teal;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 25px;
}

#bioPic {
    height:200px;
    float:left;
    position: relative;
    margin-right:10px;
}

a {
    color: lightgrey;
    text-decoration: none;
}

p {
    text-indent:15px;
}

.footer {
    height:70px;
    background-color: darkgrey;
    color:white;
    border-top: solid 20px teal;
    text-align: center;
}

.paragraph {
    border-top: solid 1px lightgrey;
    padding: 20px;
    background-color: white;
    overflow: auto;
    margin-bottom:100px;
}

.abMeSpace {
    background-color: white;
}

.aboutMe {
    padding: 20px;
    background-color: white;
    color: teal;
    font-weight: bold;
    font-size: 25px;
}

.textBox {
    border-bottom: lightgrey 1px solid;
    padding: 30px;
    margin-bottom: 200px;
    margin-right:200px;
    margin-left: 0;
}

.navBar {
    bottom:8px;
}

.port {
    text-align: center;
    padding: 20px 5px 20px 5px;
}


.boutMe {
    text-align: center;
    padding: 20px 5px 20px 5px;
}

.con {
    text-align: center;
    padding: 20px 5px 20px 5px;
}

.line {
    color: lightgrey;
    text-align: center;
    padding: 20px 5px 20px 5px;

}

#extraSpace {
    height: 300px;
}

.btn {
    background-color: teal;
    color: white;
    width: 100px;
}

/* Portfolio Page */

.comingSoon {
    display: block;
    width: 100%;
    height: auto;
}

.project {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.project:hover .overlay {
    opacity: 1;
}

.overlay {
    background: teal;
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 640px) {
.header {
    height: 120px;
    background-color: white;
    margin-right: 0 !important;
}

.myName { 
    height: 70px;
    background-color: teal;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

#bioPic {
    height:400px;
    float:none;
    position: relative;
    margin-bottom: 25px;
}

.space {
    display:none;
}

.navBar {
    top:-15px;
    right: 40px;
}

.port {
    text-align: center;
    float:none;
    padding-bottom: 30px;
}

.boutMe {
    text-align: center;
}

.con {
    text-align: center;
}

.line {
    color: lightgrey;
    text-align: center;
    padding: 20px 5px 20px 5px;
}

.paragraph {
    border-top: solid 1px lightgrey;
    padding: 20px;
    background-color: white;
    overflow: auto;
    margin-bottom: 100px;
}}



@media only screen and (min-width: 640px) and (max-width: 980px) {
.header {
    height: 70px;
    background-color: white;
    margin-right: 0 !important;
}

.myName { 
    height: 70px;
    background-color: teal;
    color: white;
    padding: 15px 0px 15px 0px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

#bioPic {
    height:300px;
    float:left;
    position: relative;
}

.space {
    display:none;
}

.navBar {
    top: none;
    right:none;
}

.port {
    text-align: center;
}

.boutMe {
    text-align: center;
}

.con {
    text-align: center;
}

.line {
    color: lightgrey;
    text-align: center;
    padding: 20px 5px 20px 5px;
}

.paragraph {
    border-top: solid 1px lightgrey;
    padding: 30px;
    background-color: white;
    overflow: auto;
    margin-bottom: 100px;
}}
